<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Montserrat+Alternates:wght@400;700&family=Raleway:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    {{!-- <div class="header-container">
        <div class="navbar">
            <img src="/public/img/logo-navbar.png" alt="logo-rocket">
            <a href="/main-menu"><button class="yellow-button" id="mainmenu-button">Home</button></a>
        </div>
    </div> --}}
    
    <div class="page-container">
        {{{body}}}
    </div>
    
</body>
</html>