<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Change Password</h1>
    <form id="reg-form">
        <input type="password" id="password" placeholder="password">
        <input type="submit" value="Submit" />
    </form>
</body>


<script>
    const form = document.querySelector('#reg-form');
    form.addEventListener('submit', newPassword);

    async function newPassword(event) {
        event.preventDefault();
        const password = document.querySelector('#password').value;

        const result = await fetch('/change-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify ({
                newPassword : password,
                token: localStorage.getItem('token')
            })
        }).then((res) => res.json())

        if(result.status === 'ok'){
            alert('Password modificata')
        }else{
            alert(result.error);
        }

    }
    


</script>

</html>