<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sign-in">
        <a href="/login"><button class="login-button">Login</button></a>
        <h1>Registration</h1>
        <form id="reg-form">
            <input type="text" id="username" placeholder="username..." autocomplete="off"/>
            <input type="password" id="password" placeholder="password..." autocomplete="off"/>
            <input type="submit" value="sign-in" />
    </form>
    </div>
    
</body>

<script src="/public/js/registration.js"></script>

</html>