<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu-container">
        <div class="user">
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="">
            <p>Welcome, {{username}}</p>
        </div>
        <h1>Main Menu</h1>
        <div class="nav-buttons">
            <a href="/change-password"><button class="change-password">Change Password</button></a>
            <a href="/logout"><button class="logout">LogOut</button></a>
        </div>
        
    </div>
</body>
</html>