// main: style.scss


.change-container {
    margin: 20px 50px;
    border: 1px solid $secondary-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .signin-button {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 150px;
        height: 30px;
        border-radius: 20px;
        background-color: $secondary-color;
        border: none;
        box-shadow: 0 0 10px $title-color;
        color: $title-color;
        font-family: 'Baloo 2', cursive;
        font-size: medium;
        cursor: pointer;
    }

    h1 {
        color: $title-color;
        padding-top: 10px;
        font-family: 'Baloo 2', cursive;
    }

    #reg-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .user{
            text-transform: uppercase;
            font-family: 'Baloo 2', cursive;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 30px;
                margin-right: 10px;
            }
        }

        #password {
            width: 300px;
            height: 30px;
            margin-top: 20px;
            text-align: center;
            border: 1px solid $secondary-color;
            border-radius: 20px;
        }

        input::placeholder {
            color: $title-color;
            font-family: 'Baloo 2', cursive;
            font-size: large;
        }

        input:focus {
            border: none !important;
            outline: none !important;
            box-shadow: 0 0 10px $buttons-color;
            font-family: 'Baloo 2', cursive;
            font-size: large;
        }

        input[type=submit] {
            margin-top: 20px;
            width: 150px;
            height: 30px;
            background-color: $buttons-color;
            border-radius: 20px;
            border: none;
            font-family: 'Baloo 2', cursive;
            font-size: large;
            cursor: pointer;
        }
    }

    .errors{
        width: 250px;
        font-family: 'Baloo 2', cursive;
        font-size: small;
        li{
            display: flex;
            justify-content: center;
            margin: 4px 0px;
            list-style-type: none;
            border: 1px solid $error-color;
            border-radius: 10px;
            background-color: rgb(252, 203, 203);
            color: $error-color;
        }
    }
}