@import '_variables';

*{
    padding: 0;
    margin: 0; 
    text-decoration: none;
}

.page-container{
    width: 100%;
    @import '_registration';
    @import '_login';
    @import '_mainMenu';
    @import '_changePassword';
}